* {

    margin: 1;
    padding: 1;
    box-sizing: border-box;
}
  
  body {
    font-family: 'Roboto', sans-serif;
    background-color: #126ace;
    color: #333;
    line-height: 1.6;
    padding: 20px;
  }
  
  main {
    display: flex;
    flex-wrap: nowrap;
  }
  
  .container {
    display: grid;
    color: #126ace;
  }
  
  section, h2, ul, p {
    margin-bottom: 20px;
  }
  
  h1 {
    font-size: 3.5em;
    color: #2a4d69;
    letter-spacing: 3px;
    margin-top: 50px;
    text-align: center;
    text-transform: uppercase;
  }
  
  h2 {
    font-size: 2em;
    font-weight: 600;
    color: #4a90e2;
  }
  
  ul {
    list-style: none;
    padding-left: 0;
  }
  
  ul li {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  ul a {
    color: #4a90e2;
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3s ease;
  }
  
  ul a:hover {
    color: #2a4d69;
  }
  
  Experience {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  Experience .job {
    flex: 0;
    padding: 10px;
    margin: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    align-self: flex-start;
  }
  
  Connect {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  Connect a {
    margin: 10px;
    font-size: 1.5em;
    color: #4a90e2;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  Connect a:hover {
    color: #2a4d69;
  }
  
  Skills {
    padding: 20px;
  }

