* {

    margin: 1;
    padding: 1;
    box-sizing: border-box;
}
  
  body {
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
    color: #333;
    line-height: 1.6;
    padding: 20px;
  }
  
  main {
    display: flex;
    flex-wrap: nowrap;
  }
  

@media (min-width:320px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ }
@media (min-width:600px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ }
@media (min-width:801px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }



.container {
  display: grid;
  grid-template-areas:
    "header header"
    "content menu" 
    "footer footer";
grid-template-columns: 50fr;
  gap: 5px;
  background-color: #469ec3;
  padding: 4px;
}
.container > div {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
}
.container > div.header {
  grid-area: header;
  text-align: center;
}


.container > div.content {
  grid-area: content;
  text-align: left;
}
.container > div.footer {
  grid-area: footer;
  text-align: center;
}
  
  section, h2, ul, p {
    margin-bottom: 5px;
  }
  
  h1 {
    font-size: 2em;
    color: #469ec3;
    letter-spacing: 2px;
    margin-top: 10px;
    text-align: center;
    text-transform: uppercase;
  }
  
  h2 {
    
    border-color: #000000;
    border-radius: 20%;
    font-size: 2em;
    font-weight: 600;
    color: #469ec3;
  }
  
  ul {
    list-style: none;
    padding-left: 0;
  }
  
  ul li {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  ul a {
    color: #469ec3;
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3s ease;
  }
  
  ul a:hover {
    color: #2a4d69;
  }
  
  Experience {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  Experience .job {
    flex: 0;
    padding: 10px;
    margin: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    align-self: flex-start;
  }
  
  Connect {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  Connect a {
    margin: 10px;
    font-size: 1.5em;
    color: #469ec3;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  Connect a:hover {
    color: #469ec3;
  }
  
  Skills {
    padding: 20px;
  }
